/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html,
input,
textarea {
	font-family: tahoma, arial, sans-serif;
}

html {
	font-size: 125%;
}

textarea {
	box-sizing: content-box;
}

body {
	font-size: 50%; /* 10px */
}

header,
hgroup,
nav,
address,
article,
aside,
dialog,
figure,
section,
footer {
	display: block;
	font-style: normal;
}

ul li {
	list-style-type: none;
}

.clearfix {
	
	&:after {
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;
		content: ".";
		line-height: 0;
	}
}

a:hover {
	color: #f00;
}

/*
	Стили для псевдоссылок
	Использование: <a href="" class="pseudo"><i>Псевдоссылка</i></a>
*/
.pseudo {
	position: relative;
	top: -0.15em;
	display: inline-block;
	border-bottom: 0.075em dashed #000;
	text-decoration: none;

	&:hover {
		border-color: #f00;
	}

	& i {
		position: relative;
		top: 0.125em;
		font-style: normal;
	}
}.mod-admin-header {
	padding: 20px;
	font-size: 14px;
	color: #555;

	.clearfix;
}
	.mod-admin-header-tosite {
		float: left;
		color: #555;
		text-decoration: none;
	}
		.mod-admin-header-tosite__text {
			text-decoration: underline;
		}
	.mod-admin-header-formout {
		float: right;
	}
		.mod-admin-header-login {
			text-align: right;
		}
		.mod-admin-header-logout {
			padding: 2px 4px;
		}.mod-admin-logon {
	position: absolute;
	top: 50%;
	left: 50%;

	@width: 220px;
	@height: 150px;

	margin: -@height/2 0 0 -@width/2;

	width: @width;
	height: @height;
	
	font-size: 16px;
}
	.mod-admin-logon__item {
		margin: 10px 0;

		.clearfix;
	}
		.mod-admin-logon__label {
			float: left;
			padding: 2px 4px;
		}
		.mod-admin-logon__value {
			float: right;
		}
			.mod-admin-logon__input {
				padding: 2px;
				width: 150px;
			}
		.mod-admin-logon__send {
			float: right;
		}
			.mod-admin-logon__input_send {
				padding: 2px 4px;
			}
		.mod-admin-logon__error {
			text-align: center;
			color: #FF264A;
		}

/**
 * Panel
 */


.mod-admin-content {
	font-size: 1.4em;
	margin: 0 20px 0 260px;
	padding: 3px;
}

/**
 * Submenu
 */
.mod-admin-content__submenu {
	font-size: 1.2em;
	height: 40px;
	margin-bottom: 10px;
}
	.mod-admin-content__submenu__item {
		float: left;
		width: 200px;
	}
		.mod-admin-content__submenu__url {
			color: #7670CC;
		}

/**
 * Body
 */
.mod-admin-content__without-submenu {
	margin-top: 50px;
}
	.mod-admin-content__left-block {
		display: inline-block;
		padding-right: 20px;
		width: 30%;
		vertical-align: top;
		border-right: 1px solid #ddd;
	}
		.mod-admin__head {
			font-weight: normal;
		}
		.mod-admin__head_big {
			font-size: 2em;
			margin-top: -14px;
		}
		.left-block__list {
			margin-top: 10px;
		}
			.left-block__item {
				padding: 0 10px;
				margin: 5px 0;
				min-height: 30px;
				border-radius: 15px;
			}
			.left-block__item:hover {
				background-color: #CCDDFF;
			}
				.left-block__item__edit,
				.left-block__item__delete {
					width: 16px;
					height: 16px;
					float: left;
					padding: 7px;
					margin: 0 3px;
					text-indent: -1000em;
					background-repeat: no-repeat;
					background-position: 8px 8px;
					visibility: hidden;
				}
				.left-block__item:hover .left-block__item__edit,
				.left-block__item:hover .left-block__item__delete {
					visibility: visible;
				}
				.left-block__item__edit:hover,
				.left-block__item__delete:hover {
					background-color: #99BBFF;
				}
				.left-block__item__edit {
					background-image: url(../images/pencil.png);
				}
				.left-block__item__delete {
					background-image: url(../images/delete.png);
				}
				.left-block__item__value {
					display: inline-block;
					padding: 5px 0 0 4px;
					width: 60%;
				}
				.left-block__item__value:before {
					content: "— ";
				}
					.left-block__item__logo {
						display: block;
						max-height: 100px;
						max-width: 200px;
						margin: 2px 0;
					}
					.left-block__item__value_desc {
						display: block;
						font-size: 0.8em;
						color: #888;
						margin-top: 2px;
					}
				.left-block__item__form {
					display: none;
					padding: 2px 0 0 4px;
				}
					.mod-admin-content__item__form__input {
						display: block;
						margin: 2px 0;
						padding: 2px;
						width: 50%;
					}
					.mod-admin-content__item__form__textarea {
						display: block;
						margin: 2px 0;
						padding: 2px;
						width: 90%;
						height: 70px;
					}
	.mod-admin-content__right-block {
		display: inline-block;
		margin-left: 40px;
		width: 40%;
		vertical-align: top;
	}
		.mod-admin-content__insert-form {
			margin-top: 15px;
		}
			.center-block__form-block {
				margin: 20px 0;
			}
				.center-block__form-block__label {
					display: block;
				}
				.form-block__price:hover .form__label-hint {
					visibility: visible;
				}
					.center-block__form__input {
						margin: 2px 0;
						padding: 4px;
						width: 250px;
					}
					.form__input_price {
						width: 50px;
					}
					.form__label {
						margin-left: 20px;
					}
						.form__label-hint {
							visibility: hidden;
						}
					.form_input_block {
						display: block;
					}
					.form-block__item {
						display: inline-block;
					}
			.form-block__checkbox-label {
				display: inline-block;
				padding: 4px 90px 4px 4px;
				margin: 4px 0;
			}
				.form-block__checkbox {
					vertical-align: middle;
				}
					.form-block__checkbox:checked + .form-block__checkbox-text {
						color: #000;
						border-bottom: 1px dotted;
					}
				.form-block__checkbox-text {
					margin-left: 5px;
					color: #999;
				}
			.form-block__select {
				padding: 4px;
				margin: 5px 0;
			}
	.mod-admin-content__center-block {
		
	}.mod-admin-menu {
	float: left;
	margin: 50px 40px 0 20px;
	width: 150px;
	font-size: 14px;
	color: #333;
}
	.mod-admin-menu__item {
		margin-bottom: 5px;
	}
		.mod-admin-menu__item-wrap {
			padding: 3px 6px;
		}
		.mod-admin-submenu {
			margin: 5px 0 0 15px;
			font-size: 12px;
		}
			.mod-admin-submenu__item {
				padding: 3px 6px;
			}
	.mod-admin-menu__item_active {
		background-color: #F3EDC3;
	}
		.mod-admin-menu__url {
			color: #4F3FFF;
		}